.modal-button {
  background-color: #d1d5db;
  border: black solid 1px;
  padding: 0 8px 0 8px;
}

.modal-button:hover {
  background-color: #bae6fd;
}

.modal-button:active {
  background-color: #7dd3fc;
}

.modal-dialog {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px black;
    min-width: 300px;
}

  ::backdrop {
    background-color: black;
    opacity: 0.5;
}

.modal-text {
    text-align: left;
    margin: 25px 30px;
}

.modal-close-cross {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transform: scale(0.7);
  }
  .modal-close-cross:before,
  .modal-close-cross:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: black;
  }
  .modal-close-cross:before {
    transform: rotate(45deg);
  }
  .modal-close-cross:after {
    transform: rotate(-45deg);
  }